/* BODY */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */


.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}

.logo-description{
    display: flex;
    align-items: center;
}

.contact-login{
    display: flex;
    align-items: center;
}

.contact-login button{
    height: 1.7rem;
    line-height: 1;
}

.main-header div{
    height: 80px;
    line-height: 80px;
}

 .main-header .under-border:hover {
    border-bottom: 6px solid rgb(50, 100, 50);
}



.main-header a{
    text-decoration: none;
    color: rgb(25, 24, 24);
    padding: 0 1rem;
}


/* JUMBOTRON */

.jumbotron{
    padding-top: 80px;
    background-color: #B4D0E7;
    margin-bottom: 7rem;
}

.jumbotron h1{
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 2.5rem;
}

.jumbotron p{
    margin-bottom: 1.5rem;
}

.jumbotron button{
    margin-bottom: 1.5rem;
}

.jumbotron i{
    font-size: 2.7rem;
    margin-top: 2rem;
    display: inline-block;
}

.jumbotron a{
    color: black;
}

.jumbotron .big-container{
    position: relative;
    top: 3.5rem;
}



/* MAIN */

main{
    scroll-behavior: smooth;
}

/* SECTION PLANE */

.plane h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 2rem 0;
}

.fatturazione{
    gap: 4rem;
    margin-bottom: 3.5rem;

}

.column-container{
    justify-content: space-between;
    margin-bottom: 3rem;
}

.column .type{
    text-align: center;
    padding: .3rem 0;
    border-bottom: 2px solid lightgray;
}

.column .type i{
    padding: 0.3rem;
}

.column .list{
    padding: 0 1rem ;
    font-size: 0.9rem;
}

.list h3{
    font-size:1.3rem ;
    font-weight: bold;
    margin-top: 1.7rem;
    margin-bottom: .8rem;
}

.list .price{
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.list .time{
    color: rgb(182, 179, 179);
    margin-bottom: 2rem;
    font-size: 0.8rem;
}

.list .space{
    margin: 1rem 0;
}

.list .share{
    margin-bottom: 2rem;
}

.list button{
    margin-bottom: 1.5rem;
}

.list hr{
    margin: 3rem 0;
    width: 20%;
   
}

.list h4{
    font-weight: bold;
}

.list li{
    margin:1rem 0;
}

.list li::before{
    content: "\2713";
    color: #0093CE;
    margin-left: -15px;
    font-size: 19px;
    font-weight: bold;

}


/* SECTION ENTERPRISE */

.enterprise {
    border: 2px solid lightgray;
    margin-bottom: 8rem;
}

.partner .small-space{
    padding-left: 3rem;
    padding-top: 2rem;
}

.enterprise .team{
    text-align: center;
    border-bottom: 2px solid lightgray;
    padding: 0.3rem 0;
}

.enterprise .big-space{
    padding-left: 1.7rem;
}

.enterprise h3{
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

.enterprise h4{
    font-weight: bold;
    margin-bottom: 3rem;
}

.enterprise p{
    padding-bottom: 2rem;
}

.enterprise button{
    margin-top: 1.5rem;
    margin-left: 6rem;
}


/* PARTNER */

.partner{
    margin-bottom: 7rem;
}

.partner h3{
    font-size: 1.3rem;
    font-weight: bold;
}

.partner p{
    margin-bottom: 1rem;
}
   
    
/* CARD SECTION */

.operazioni h2{
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
    margin-bottom: 8rem;
}

.card-container .card{
    width: 30%;
}

.card h3{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


/* MANY-TEAMS */

.many-teams h2{
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 3rem;

}


/* DESIGNIT */

.designit{
    margin-top: 7rem;
}

.designit .rectangle{
    width: 16vw;
}

.designit .center-content{
    width: 36vw;
    background-color: #F5F5F5;
}

.square{
    width: 16vw;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.square img{
    width: 8rem;
    filter: invert(1);
}

#green-designit{
    background-color: #A2D39B;
    border: 0.7rem solid #D1E9CD;
}

#florida{
    background-color: #0093CE;
}

#arizona{
    background-color: #61082B;
}

#topps{
    background-color: #FF1C1C;
}

#bicycle{
    background-color: #D5001F;
}

#lonley-planet{
    background-color: #0D2481;
}

#hearst{
    background-color: #B4D0E7;
}

#clear-channel{
    background-color: #FFD830;
}

.center-content img{
    width: 18rem;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 3.4rem;
}

.center-content p{
    font-size: 0.9rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.center-content address{
    font-size: 0.9rem;
    padding-left: 2rem;
}


/* FREE USE */

.free-use{
    background-color: #B4D0E7;
    margin-bottom: 4rem;
}

.free-use .small-container{
    padding-top: 6rem;
}

.free-use h2{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #61082B;
    padding-bottom: 6rem;
}

 .free-use .small-space{
    position: relative;
 }

 .free-use button{
    position: absolute;
    right: 0;
 }


 /* QUESTION*/

 .question-box{
    margin: 2rem 0rem;
 }

 .question h2{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 3rem;
 }

 .question-box h4{
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: inline-block;
 }

 .question-box p{
   display: none;
 }

 .question-box:hover p{
    display: block;
 }

 .question-box span{
    margin-left: 9rem;
 }
 
 .question-box .chevron-hover{
    display: none;
 }

 .question-box:hover .chevron-hover{
    display: inline;
 }

 .question-box:hover .chevron-show{
    display: none;
 }


 /* FOOTER */

 footer{
    background-color: black;
    color: white;
    margin-top: 6rem;
 }

 footer .big-container{
    padding-top: 4.5rem;
 }

 .footer-column{
    width: 20%;
    border: 2px solid black;
 }

 footer h3{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
 }

 footer ul li{
    padding: 0.3rem 0rem;
 }

 footer ul :last-child{
    padding-bottom: 4rem;
 }

 footer hr{
    width: 50%;
    border-color: gray;
    margin-bottom: 2rem;
 }

 footer .language{
    color: gray;
    cursor: pointer;
    padding-bottom: 4rem;
 }

 footer i{
    padding-left: 0.5rem;
    padding-right: 0.7rem;
 }










